[Unit]
Description=KWin Control
After=plasma-workspace.target
BindsTo=plasma-workspace.target

[Service]
ExecStart=/usr/bin/kwinctl

[Install]
WantedBy=plasma-workspace.target
